* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 18px;
    font-family: monospace;
    color: blueviolet;
    margin: 10px;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav .casa {
    background-color: rebeccapurple;
}