:root {
    --color-red: #FF731D;
    --color-egg: #FFF7E9;
    --color-light-blue: #5F9DF7;
    --color-blue: #1746A2;
    --sm: 16px;
    --md: 22px;
    --lg: 30px; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

h3 {
    margin: 10px 0;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--color-blue);
    color: var(--color-egg);
}

#logo {
    width: 20vw;
}
#logo img {
    width: 45px;
    margin: 10px;
}
#menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 10px;
}

.container {
    padding: 15px 5px;
    background-color: var(--color-egg);
}

.infoFisica {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenFisica img {
    width: 300px;
    margin: 15px;
}

aside {
    padding: 5px;
    background-color: var(--color-egg);
}
aside h2 {
    color: var(--color-blue);
}

.listaRamasFisica {
    list-style: none;
    padding: 0;
    margin: 10px;
}
.listaRamasFisica li {
    margin-bottom: 16px;
}
.listaRamasFisica li h3 {
    color: var(--color-light-blue);
}

.fisicaRama {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.fisicaRama img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.fisicaRama p {
    margin: 5px;
}

footer {
    padding: 10px 5px 20px;
    background-color: var(--color-red);
    color: var(--color-egg);
}
.listaFooter ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

a {
    font-style: none;
}

